.container{
background-color: rgb(11, 106, 125);
color: white;
padding: 25px;
right: 50px;
border-radius: 40px;
position: centered;
box-shadow: 0 0 35px rgba(32, 102, 139, 0.2)
}

.containeru{
background-color: rgb(255, 9, 9);
color: rgb(255, 255, 255);
padding: 25px;
right: 50px;
border-radius: 40px;
position: centered;
box-shadow: 0 0 35px rgba(32, 102, 139, 0.2)
}

.containern{
background-color: rgb(243, 255, 12);
color: rgb(0, 0, 0);
padding: 25px;
right: 50px;
border-radius: 40px;
position: centered;
box-shadow: 0 0 35px rgba(32, 102, 139, 0.2)
}

textarea{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    box-shadow: 0 0 15px rgba(32, 102, 139, 0.2);
    resize: none;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: none;
}