.container{
background-color: rgb(135, 90, 219);
color: rgb(255, 255, 255);
padding: 25px;
right: 50px;
border-radius: 40px;
position: centered;
}

.containeru{
background-color: rgb(255, 9, 9);
color: rgb(0, 0, 0);
padding: 25px;
right: 50px;
border-radius: 40px;
position: centered;
box-shadow: 0 0 35px rgba(32, 102, 139, 0.2)
}

.containern{
background-color: rgb(243, 255, 12);
color: rgb(0, 0, 0);
padding: 25px;
right: 50px;
border-radius: 40px;
position: centered;
box-shadow: 0 0 35px rgba(32, 102, 139, 0.2)
}


.remover {
  background: transparent;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 18px;
}


.blue { background-color: #007bff; }
.green { background-color: #28a745; }
.purple { background-color: #6f42c1; }

