.container{
background-color: rgb(135, 90, 219);
color: rgb(255, 255, 255);
padding: 25px;
right: 50px;
border-radius: 40px;
position: centered;
}

.containeru{
background-color: rgb(248, 145, 145);
color: rgb(0, 0, 0);
padding: 25px;
right: 50px;
border-radius: 40px;
position: centered;
}

.containern{
background-color: rgb(240, 247, 124);
color: rgb(0, 0, 0);
padding: 25px;
right: 50px;
border-radius: 40px;
position: centered;
}


.remover {
  background: transparent;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 18px;
}



